html, body{
	height: 100vh;
	width: 60%;
	margin: 0px auto;
	background-color: #e9f5db;
	font-family: 'Song Myung', serif;
}

h1 h2 h3{
	letter-spacing: 1px;
}

ol{
	border: 2px solid #87986a;
	border-radius: 8px;
	padding: 30px;
	padding-top: 0px;
}

.code-container{
	border: 2px solid #87986a;
	border-radius: 8px;
	padding: 10px;
	padding-top: 0px;
}

.code-container h3{
	margin-left: 20px;
}

code{
	background-color: #cfe1b9;
	border-radius: 8px;
	padding: 5px;
}

footer{
	float: right;
	margin-top: 30px;
}